<div class="about">
<div class="card">
  <div class="card-header">
    
  </div>
  <nav class="menu menu--adsila">
	<a class="menu__item" href="/">
		<span class="menu__item-name">CryptoNet</span>
		<span class="menu__item-label">A website that focuses on the Bitcoin Currency. </span>
	</a>
	<a class="menu__item" href="chart">
		<span class="menu__item-name">Chart</span>
		<span class="menu__item-label">Live Bitcoin price in the form of chart.</span>
	</a>
	<a class="menu__item" href="news">
		<span class="menu__item-name">News</span>
		<span class="menu__item-label">Live Twitter feeds pertaining to the topic of crypto currency.</span>
	</a>
	<a class="menu__item" href="blogs">
		<span class="menu__item-name">Blog</span>
		<span class="menu__item-label">All news related articles in realtion to crytpo currency.</span>
	</a>
</nav>

</div>
</div>
