@import "bootstrap";
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
  font-family: 'Comfortaa';
}

/* Custom default button */
.btn-secondary,
{
  padding: 10px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: blue;
    border: none;
    border-radius: 15px;
    font-family: 'Limelight';
}
.btn-primary{
  color: black;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.btn-danger {
  color: black;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;

}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}


/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
font-family: 'Fugaz One';
font-weight: bolder;
font-size: 40px;
color: red;

}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: bold;
  color: white;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: red;
}


/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 55rem;
  }
}
.card-block{
  color: black;
  font-size: 8px;
  max-width: 100%

}
.card {
  max-height: 50%;
  max-width: 75%;
  margin: auto;
}
.card-header{
  background-color: black;
  font-family: 'Comfortaa';
  font-size: 20px;
}
.card-footer{
  background-color: black;
  color: white;
  font-size: 15px;
  font-family: 'Comfortaa';
}
.cover-heading{
  font-weight: bolder;
  color:red;
  font-size: 50px;
  font-family: 'Fugaz One';

}

.field{

}
#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('mariog.png') no-repeat;
  background-size: cover;
}
/* table style */

.gbp-price{
  text-align: center;
  color: blue;
  font-size: 15px;
  font-family: 'Limelight';
  margin-top: 10px;
}

.usd-price{
  text-align: center;
  color: blue;
  font-size: 15px;
  font-family: 'Limelight';
  margin-top: 10px;

}

.aud-price{
  text-align: center;
  color: blue;
  font-size: 15px;
  font-family: 'Limelight';
  margin-top: 10px;

}
.whole > .card{
max-width: 50%;
max-height: 25%;
margin-top: 100px;
margin-bottom: 100px;

}

.prices{
  text-align: center;
  color:black;
  font-family: 'Limelight';
  font-size: 10px;
  font-weight: bold;
  max-width: 75%;
  max-height: 50%;

}


.table {
  font-size: 15px;
  text-align: center;
  margin-top: 15px;
  margin-left: 40px;



}
