@import "bootstrap";

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
  font-family: 'Comfortaa';
}

/* Custom default button */
.btn-secondary,
{
  padding: 10px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: blue;
    border: none;
    border-radius: 15px;
    font-family: 'Limelight';
    margin-left: 150px;
}

.btn-danger {
  color: black;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;

}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}


/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
font-family: 'Fugaz One';

font-size: 40px;
color:#ef0707;

}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-family: 'Fugaz One';
  color: white;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-family: 'Fugaz One';

}


/*
 * Footer
 */

.mastfoot {
  color:#ff0000;
  margin-left: 20px;
  font-family: 'Fugaz One';
}


/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 55rem;
  }
}
.card-block{
  color: black;
  font-size: 8px;
  max-width: 100%

}
.card  {
  max-height: 50%;
  max-width: 75%;
  margin: auto;
}
.card-header{
  background-color: black;
  font-family: 'Comfortaa';
  font-size: 20px;

}
.card-footer{
  color: white;
  font-size: 15px;
  font-family: 'Comfortaa';
}
.cover-heading{

  color:#ef0707;
  font-size: 80px;
  font-family: 'Fugaz One';
  margin-left: 150px;

}


#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('mariog.png') no-repeat;
  background-size: cover;
}
/* table style */
.table {
  font-size: 15px;
  text-align: center;
  margin-top: 15px;
  margin-left: 40px;

}

.gbp-price{
  text-align: center;
  color: blue;
  font-size: 15px;
  font-family: 'Limelight';
  margin-top: 10px;
}

.usd-price{
  text-align: center;
  color: blue;
  font-size: 15px;
  font-family: 'Limelight';
  margin-top: 10px;

}

.aud-price{
  text-align: center;
  color: blue;
  font-size: 15px;
  font-family: 'Limelight';
  margin-top: 10px;

}

.prices{
  text-align: center;
  color:black;
  font-family: 'Limelight';
  font-size: 10px;
  font-weight: bold;
  max-width: 75%;
  max-height: 50%;

}

.whole > .card{
max-width: 50%;
max-height: 25%;
margin-top: 100px;
margin-bottom: 100px;

}



/*login and reg style */


.regcard{
  max-width: 100%;
  max-height: 100%;
  margin-left: 400px;
  margin-bottom: 50px;

  margin-left: 400px;
}

.logincard{
  max-width: 50%;
  max-height: 100%;
  margin-left: 400px;
  margin-bottom: 50px;
}
.field {
  font-size: 15px;
  font-family: 'Limelight';
}

.form-group > .btn-primary {
  background-color: black;
  padding: 10px 20px;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: white;
  border: none;
  border-radius: 15px;
  font-family: 'Limelight';




}
.actions > .btn-primary{
  background-color: black;
  padding: 10px 20px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: white;
  border: none;
  border-radius: 15px;
  font-family: 'Limelight';

}

.row {
  margin-bottom: 2px;
  margin-top: 2px;
  max-width: 100%;
  border: none;
  font-family: 'Limelight';
  font-size: 10px;
}
.form-group > .btn-primary{
  background-color: black;
  padding: 10px 20px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: white;
  border: none;
  border-radius: 15px;
  font-family: 'Limelight';
  margin-left: 100px;
}

.form-control{
  max-height: 50%;
  max-width: 100%;
}

.edit_user{

  max-height: 25%;
  max-width: 75%;

}
.editcard > .card{

  max-height: 25%;
  margin-top: 100px;

}
.editcard > .card-block{

  margin-top: 100px;
  max-width: 25%;
  margin-left: 300px;

}
.form-group {
  max-width: 100%;

}
.tech-news {
  color: black;
  margin: 10px;
}

.tech-news > .card {
  padding: 15px;
}

.tech-news a {
  color: green;
}
#Bitfinex{
  background-color: white;


}

.app-nav span {
  margin-left: 15px;
  margin-right: 15px;
}
.nav-link.active  {
  color: red;
}
/*about card */

.about > .card{
  max-width: 50%;
  margin-left: 500px;

}

.about > .card >.card-header{
  background-color: black;
  height: 35px;
  font-size: 1.10em;
	font-family: 'Fugaz One';

}
.menu {
	position: relative;
	z-index: 10;
}

.menu__item {
	position: relative;
	display: block;
	outline: none;
	margin: 0 0 1.5em;
	line-height: 1;
}

.menu__item-name,
.menu__item-label {
	position: relative;
	display: inline-block;
}

.menu__item-name {
	font-size: 1.25em;
}

.menu__item-label {
	margin: 0 0 0 0.5em;
}
.menu--adsila {
	font-size: 1.15em;
	font-family: 'Fugaz One';
}

.menu--adsila a {
	color: black;
  font-family: 'Fugaz One';

}

.menu--adsila .menu__item {
	margin: 0 0 1em;
}

.menu--adsila .menu__item-name {
	padding: 0 0.35em;

	line-height: 1.4;
	transition: color 0.5s;
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.menu--adsila .menu__item-name::before {
	content: '';
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 50%;
	left: 0;
	bottom: 0;
	opacity: 0.3;
	transform: scale3d(0,1,1);
	transform-origin: 0% 50%;
	transition: transform 0.5s;
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.menu--adsila .menu__item-label {
	font-size: 1em;
	letter-spacing: 0.05em;
	transform: translate3d(-0.5em,0,0);
	transition: transform 0.5s, color 0.5s;
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.menu--adsila .menu__item-label::before {
	content: '';
	position: absolute;
	z-index: -1;
	width: 25%;
	height: 1px;
	left: 0.05em;
	top: 1.25em;
	opacity: 0.3;
	transform: scale3d(0,1,1);
	transform-origin: 100% 50%;
	transition: transform 0.5s;
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.menu--adsila .menu__item:nth-child(odd) .menu__item-name::before,
.menu--adsila .menu__item:nth-child(odd) .menu__item-label::before {
	background: green;
}

.menu--adsila .menu__item:nth-child(even) .menu__item-name::before,
.menu--adsila .menu__item:nth-child(even) .menu__item-label::before  {
	background: green;
}

/* Hover */

.menu--adsila .menu__item:nth-child(odd):hover,
.menu--adsila .menu__item:nth-child(odd):focus {
	color: red;
}

.menu--adsila .menu__item:nth-child(even):hover,
.menu--adsila .menu__item:nth-child(even):focus {
	color: red;
}

.menu--adsila .menu__item:hover .menu__item-name::before,
.menu--adsila .menu__item:focus .menu__item-name::before,
.menu--adsila .menu__item:hover .menu__item-label::before,
.menu--adsila .menu__item:focus .menu__item-label::before {
	transform: scale3d(1,1,1);
}

.menu--adsila .menu__item:hover .menu__item-label,
.menu--adsila .menu__item:focus .menu__item-label {
	transform: translate3d(0,0,0);
}

.menu--adsila .menu__item:hover .menu__item-label::before,
.menu--adsila .menu__item:focus .menu__item-label::before {
	transition-timing-function: ease;
	transform-origin: 0% 50%;
}
